::-webkit-scrollbar{
  display: none;
}

.container{
  position: relative;
  width: 100%;
  max-width: 100px;
}
.container img{
  width:1600%;
  height:1600%;
}
.container .btn{
  position: absolute;
  top: 70%;
  left: 750%;
  transform: translate(-50%, -50%);

  color: black;
  font-size: 16px;
  padding: 2px 50px;
  border: none;
  border-radius: 5px;
  background-color:#4CAF50;
}
.text-wrapper{
  width: 100%;
  position: relative;
  margin-top: -32%;
}
.text-wrapper{
  text-align: center;
  color: #DAA520;
  font-size:150%;
  font-weight: bold;
}
.test-headline{
  width: 100%;
  position: relative;
  margin-top: -24%;
}
.test-headline{
  text-align: center;
  color:#7FFF00;
  font-size: 250%;
  font-weight: bold;
}
.output{
  color: #000000;
}
